#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #32345f00);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #354b52a2);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: fixed; /* фиксируем на экране */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* затемнение */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* поверх всего */
}

.modal-content {
  background: #2c2c2c;
  padding: 20px;
  border-radius: 12px;
  width: 300px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.context-menu {
  position: absolute;
  background: #333;
  border-radius: 6px;
  overflow: hidden;
  z-index: 10000;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 8px rgba(0,0,0,0.5);
}

.context-menu button {
  background: none;
  border: none;
  padding: 8px 14px;
  color: white;
  text-align: left;
  cursor: pointer;
}

.context-menu button:hover {
  background: #555;
}
.modal-content input {
  padding: 8px;
  border: none;
  border-radius: 6px;
  outline: none;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
}

.modal-buttons button {
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
body {
  background-color: #2c2c2c;
}

.links-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.link-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: white;
  width: 80px;
}

.icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #4444447a;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  transition: transform 0.2s;
}

.icon img {
  width: 60%;
  height: 60%;
}

.link-item:hover .icon {
  transform: scale(1.1);
}

.title {
  font-size: 12px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.plus-icon {
  background-color: transparent; 
  padding: 0;
}
.plus-image {
  width: 100%;
  height: 100%;
  border-radius: 50%; 
  object-fit: cover; 
}